@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.main-title{
    color: #F5F5F5;
    font-size: 80px;
    font-family: 'Josefin Sans';

}

.food-type{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}
