@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


.menu-wrapper{
    flex-direction: column;
}

.item-name{
    font-size: 20px;
}

.list-group-item{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}

.title-menu{
    color: #F5F5F5;
    font-family: 'Playfair Display', serif;
}

.cart-button{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #F5F5F5;

}
